<!DOCTYPE html>
<html lang="en">

<!--/* ▼▼▼ Replaced by Thymeleaf ▼▼▼ */-->
<head id="head">
    <meta charset="UTF-8">
    <title>Game title</title>
</head>
<!--/* ▲▲▲ Replaced by Thymeleaf ▲▲▲ */-->

<body>

<div align="center">

    <h1 id="title">Name of the game</h1>
    <h2 id="game-over">Over message</h2>
    <h3 id="result">Result message!</h3>
    <h3><a id="restart" href="restart">Restart link</a></h3>
    <h3><a id="home" href="home">Home link</a></h3>

    <!--/* ▼▼▼ Replaced by Thymeleaf ▼▼▼ */-->
    <footer id="footer">
        <p>Author information.</p>
    </footer>
    <!--/* ▲▲▲ Replaced by Thymeleaf ▲▲▲ */-->

</div>

</body>

</html>