<!DOCTYPE html>
<html lang="en">

<!--/* ▼▼▼ Replaced by Thymeleaf ▼▼▼ */-->
<head id="headId">
    <meta charset="UTF-8">
    <title>Title content</title>
</head>
<!--/* ▲▲▲ Replaced by Thymeleaf ▲▲▲ */-->

<body>

<div align="center">
    <h1 id="title">Title message</h1>

    <h3>
        <a id="play" href="play">Click to play!</a>
    </h3>

    <!--/* ▼▼▼ Replaced by Thymeleaf ▼▼▼ */-->
    <footer id="footer">
        <p>Created by me.</p>
    </footer>
    <!--/* ▲▲▲ Replaced by Thymeleaf ▲▲▲ */-->

</div>

</body>

</html>